USE [e_okul_veri_sistemi]
GO
/****** Object:  Table [dbo].[e_okul_ogrenci_tablosu]    Script Date: 9/26/2025 11:33:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[e_okul_ogrenci_tablosu](
	[ogrenci_no] [int] NOT NULL,
	[ogrenci_isim] [varchar](20) NOT NULL,
	[ogrenci_soyisim] [varchar](20) NOT NULL,
	[ogrenci_cinsiyet] [varchar](20) NOT NULL,
	[ogrenci_DT] [datetime] NOT NULL,
	[ogrenci_sınıf] [varchar](10) NOT NULL,
	[ogrenci_adres] [varchar](20) NOT NULL,
	[ogrenci_not1] [int] NULL,
	[ogrenci_not2] [int] NULL,
	[ogrenci_per1] [int] NULL,
	[ogrenci_per2] [int] NULL,
	[ogrenci_ortalama] [float] NULL,
	[ogrenci_geçdi_kaldi] [varchar](5) NULL,
 CONSTRAINT [PK_e-okul_ogrenci_tablosu] PRIMARY KEY CLUSTERED 
(
	[ogrenci_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[e_okul_ogretmen_tablosu]    Script Date: 9/26/2025 11:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[e_okul_ogretmen_tablosu](
	[ogretmen_isim] [varchar](20) NOT NULL,
	[ogretmen_sifre] [varchar](8) NOT NULL
) ON [PRIMARY]
GO
